a {
  text-decoration: none
}

body {
  height: 100vh;
  background: #3e3232;
  font-family: 'Poppins', sans-sherif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  margin: 0 auto
}

.news {
  padding: 0 2%
}


.news marquee {
  font-size: 18px;
  margin-top: 12px
}

.news-content a {
  margin-right: 41px;
  display: inline
}
