<span class="title ml-2">Price Change</span>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">1d change</th>
      <td class="text-right">
        <span
          *ngIf="coinTicker?.['1d'];else noData"
          [class]="(coinTicker['1d'].price_change_pct | stringToNumber: 'float') > 0 ? 'price-up' : 'price-drop'"
        >
          <fa-icon
            class="mr-1"
            [icon]="(coinTicker['1d'].price_change_pct | stringToNumber: 'float') > 0 ? faCaretUp : faCaretDown"
          ></fa-icon>
          {{ (coinTicker['1d'].price_change_pct | stringToNumber: 'float') * 100 | numberFormat }}%</span
        >
      </td>
    </tr>
    <tr>
      <th scope="row">7d change</th>
      <td class="text-right">
        <span
          *ngIf="coinTicker?.['7d'];else noData"
          [class]="(coinTicker['7d'].price_change_pct | stringToNumber: 'float') > 0 ? 'price-up' : 'price-drop'"
        >
          <fa-icon
            class="mr-1"
            [icon]="(coinTicker['7d'].price_change_pct | stringToNumber: 'float') > 0 ? faCaretUp : faCaretDown"
          ></fa-icon
          >{{ (coinTicker['7d'].price_change_pct | stringToNumber: 'float') * 100 | numberFormat }}%</span
        >
      </td>
    </tr>
    <tr>
      <th scope="row">30d change</th>
      <td class="text-right">
        <span
          *ngIf="coinTicker?.['30d'];else noData"
          [class]="(coinTicker['30d']!.price_change_pct | stringToNumber: 'float') > 0 ? 'price-up' : 'price-drop'"
        >
          <fa-icon
            class="mr-1"
            [icon]="(coinTicker['30d']!.price_change_pct | stringToNumber: 'float') > 0 ? faCaretUp : faCaretDown"
          ></fa-icon
          >{{ (coinTicker['30d']!.price_change_pct | stringToNumber: 'float') * 100 | numberFormat }}%</span
        >
      </td>
    </tr>
    <tr>
      <th scope="row">365d change</th>
      <td class="text-right">
        <span
          *ngIf="coinTicker?.['365d'];else noData"
          [class]="(coinTicker['365d']!.price_change_pct | stringToNumber: 'float') > 0 ? 'price-up' : 'price-drop'"
        >
          <fa-icon
            class="mr-1"
            [icon]="(coinTicker['365d']!.price_change_pct | stringToNumber: 'float') > 0 ? faCaretUp : faCaretDown"
          ></fa-icon
          >{{ (coinTicker['365d']!.price_change_pct | stringToNumber: 'float') * 100 | numberFormat }}%</span
        >
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noData>尚無資料</ng-template>
