<div class="card">
  <h5 class="card-header">About {{ coinMetaData?.name }}</h5>
  <div class="card-body module">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text collapse" id="description-collapse" aria-expanded="false">
      {{ coinMetaData?.description !== '' ? coinMetaData?.description : 'No Description' }}</p>
    <a *ngIf="coinMetaData?.description" role="button" class="collapsed" data-toggle="collapse"
      href="#description-collapse" aria-expanded="false" aria-controls="description-collapse"></a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table mb-0" style="table-layout: fixed">
        <tbody>
          <tr>
            <th scope="row">Currency Name</th>
            <td>{{ coinMetaData?.name }}</td>
          </tr>
          <tr>
            <th scope="row">Website</th>
            <td>
              <a target="blank" [class.disabled]="!coinMetaData?.website_url"
                [href]="coinMetaData?.website_url">{{ coinMetaData?.website_url !== '' ? coinMetaData?.website_url : 'X' }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Whitepaper</th>
            <td>
              <a target="blank" [class.disabled]="!coinMetaData?.whitepaper_url"
                [href]="coinMetaData?.whitepaper_url">{{ coinMetaData?.whitepaper_url !== '' ? coinMetaData?.whitepaper_url : 'X' }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table" style="table-layout: fixed">
        <tbody>
          <tr>
            <th scope="row">Github</th>
            <td>
              <a target="blank" [class.disabled]="!coinMetaData?.github_url"
                [href]="coinMetaData?.github_url">{{ coinMetaData?.github_url !== '' ? coinMetaData?.github_url : 'X' }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Twitter</th>
            <td>
              <a target="blank" [class.disabled]="!coinMetaData?.twitter_url"
                [href]="coinMetaData?.twitter_url">{{ coinMetaData?.twitter_url !== '' ? coinMetaData?.twitter_url : 'X' }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Reddit</th>
            <td class="text-left">
              <a target="blank" [class.disabled]="!coinMetaData?.reddit_url"
                [href]="coinMetaData?.reddit_url">{{ coinMetaData?.reddit_url !== '' ? coinMetaData?.reddit_url : 'X' }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
