<span class="title ml-2">Market Cap Info</span>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">rank</th>
      <td class="text-right">
        <span *ngIf="coinTicker; else noData">#{{ coinTicker.rank }}</span>
      </td>
    </tr>
    <tr>
      <th scope="row">market cap</th>
      <td class="text-right">
        <span *ngIf="coinTicker; else noData">$ {{ coinTicker.market_cap | numberFormat }}</span>
      </td>
    </tr>
    <tr>
      <th scope="row">max supply</th>
      <td class="text-right">
        <span *ngIf="coinTicker && !coinTicker.max_supply">∞ (unlimited)</span>
        <span *ngIf="coinTicker && coinTicker.max_supply">{{ coinTicker.max_supply | numberFormat }}</span>
        <span *ngIf="!coinTicker">尚無資訊</span>
      </td>
    </tr>
    <tr>
      <th scope="row">circulating supply</th>
      <td class="text-right">
        <span *ngIf="coinTicker; else noData">{{ coinTicker.circulating_supply | numberFormat }}</span>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noData>尚無資訊</ng-template>
