<span class="title ml-2">市值資訊</span>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">市值排名</th>
      <td class="text-right">{{currencyTickersResp.rank}}</td>
    </tr>
    <tr>
      <th scope="row">市值</th>
      <td class="text-right">NT${{ currencyTickersResp.market_cap | numberFormat }}</td>
    </tr>
    <tr>
      <th scope="row">最大供給量</th>
      <td class="text-right">{{ currencyTickersResp.max_supply | numberFormat }}</td>
    </tr>
    <tr>
      <th scope="row">現貨流通量</th>
      <td class="text-right">{{ currencyTickersResp.circulating_supply | numberFormat }}</td>
    </tr>
  </tbody>
</table>
